<div class=" bg-dark text-center myfooter">
    <div class="mybuttons">
        <button type="button" onclick="location.href='https://www.facebook.com/profile.php?id=100012173209258'" class="btn btn-dark btn-lg "><i class="fa fa-facebook light"></i></button>
        <button type="button" onclick="location.href='https://www.instagram.com/himanshu446267/'" class="btn btn-dark btn-lg"><i class="fa fa-instagram light"></i></button>
        <button type="button" onclick="location.href='https://www.linkedin.com/in/himanshu-mishra-a2a4801aa/'" class="btn btn-dark btn-lg"><i class="fa fa-linkedin light"></i></button>
        <button type="button" onclick="location.href='https://github.com/Himanshu44626748'" class="btn btn-dark btn-lg"><i class="fa fa-github light"></i></button>
    </div>
</div>