<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    
    {{> header}}

    <div class="container" style="background-color: rgb(0, 119, 255); margin-top:auto; border-radius: 5px;">
        <div class="conatiner" style=" padding-top:50px; padding-bottom:50px; border-radius: 0;">
            <div class="card">
                <div class="card-body">
                    <h3 id="quotes" class="card-title"></h3>
                    <p id="author" class="card-text"></p>
                    <button id="next" class="btn card-link btn-primary">Next Quotes</button>
                    <button onclick="tweetme()" class="btn card-link btn-primary">Tweet <i class="fa fa-twitter light"></i></button>
                </div>
            </div>
        </div>
    </div>
    
    {{> footer}}
<script>

var i = 1;
var quotes = "";
var author = "";

const getData = async () => {

    const api = "https://type.fit/api/quotes";

    const data = await fetch(api);
    const jsonData = await data.json();
    quotes = jsonData[i].text;
    author = jsonData[i].author;
    i++;
    document.getElementById("quotes").innerHTML = quotes;
    document.getElementById("author").innerHTML = `- By ${author}`;

}

document.getElementById("next").addEventListener("click", (e) => {
    getData();
    e.preventDefault;
})
getData();

function tweetme(){
    const post = `https://twitter.com/intent/tweet?text=${quotes} By ${author}`;
    window.open(post);
}

</script>

</body>
</html>